-i https://pypi.org/simple
jedi==0.19.1; python_version >= '3.6'
numpy==1.26.4; python_version >= '3.9'
packaging==24.0; python_version >= '3.7'
parso==0.8.3; python_version >= '3.6'
pudb==2024.1; python_version ~= '3.8'
py4j==0.10.9.9
pygments==2.17.2; python_version >= '3.7'
typing-extensions==4.10.0; python_version >= '3.8'
urwid==2.6.10; python_version >= '3.8'
urwid-readline==0.14
wcwidth==0.2.13
