[Desktop Entry]
Type=Application
Name=Gaia Sky
Comment=Explore the universe in 3D
Exec=gaiasky
Icon=/opt/gaiasky/gs_icon.svg
Terminal=false
Categories=Science;Education;
Keywords=space;planets;stars;galaxies;universe;explore
