[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Gaia Sky
Comment=Gaia Sky 3D Universe software
Exec=gaiasky
Icon=/opt/gaiasky/gs_icon.svg
Terminal=false
Categories=Science;Education;