[Desktop Entry]
Type=Application
Name=Gaia Sky
Comment=Open source 3D universe simulator for desktop and VR with support for more than a billion objects
Exec=gaiasky
Icon=/opt/gaiasky/gs_icon.svg
Terminal=false
Categories=Science;
