[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Gaia Sky
Comment=Gaia Sky 3D Universe software
Exec=gaiasky
Icon=gs_icon
Categories=Science;Education;
